

//General
.websiteTitle {
    text-align: center;
}

//header 
header {
    background: maroon;
    color: white;
    a {
        color: #EEFF41;
        font-weight: bold;
        opacity: 0.9;
        &:hover {
            color: #EEFF41;
            opacity: 1;

        }
    }
    ul {
        text-align: center;
        li {
            text-align: center;
        }
    }
}
.nav-tabs .nav-link {
    border:0;
}
// Form
.formContainer {
    width: 750px;
    margin: 0 auto;
    color: white;
    margin-top: 15px;
    h1 {
        background: #3D5AFE;
        padding: 0;
        margin: 0;
        text-align: center;


    }
    form {
        background: #3D5AFE;
        padding: 10px;
    }
    .userButtons {
        text-align: center;
    }

    input[type="submit"],input[type="reset"] {
        width: 50%;
        background: #EEFF41;
        padding: 10px;
        margin: 5px;
        border: 0;
        border-radius: 15px;
        font-weight: bold;
        font-size: 20px;
        opacity: 0.9 ;
        &:hover {
            cursor: pointer;
            opacity: 1;

        }
    }
}



//Modal

    #confirmationModal {
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .confirmationModalContent {
        background-color: #3D5AFE;
        color: white;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        h1,p {
            text-align: center !important;
        }
        ul li {
            color: black;
        }
        button {
            display: inline-block;
            text-align: center;
            background: inherit;
            padding: 10px;
            border:2px solid white;
            border-radius: 50px;
            color: white;
            outline: 0;
            &:hover {
                background: #536DFE;
                cursor: pointer;
            }

        }
    }

    .closeSuccessModal {
    color: #EEFF41;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,&:focus {
        color: #EEFF41;
        opacity: 0.8;
        text-decoration: none;
        cursor: pointer;
    }
    }


